---
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
import Layout from "../layouts/Layout.astro";
import kitty from "../assets/kitty.webp";
---

<Layout title="Joe Vaughan">
  <h2 class="text-2xl font-bold font-serif text-center text-balance">
    ✨ Social media skills for museums and galleries ✨
  </h2>
  <section class="grid lg:grid-cols-2 gap-4 px-8">
    {
      posts.map((post) => (
        <div
          class="
    bg-amber-200
    p-8
    rounded
    flex
    flex-col
    border-1"
          tabindex="0"
        >
          <h2 class="font-serif text-xl font-semibold mb-2">
            {post.data.title}
          </h2>
          <p class="text-sm mb-2">{post.data.date}</p>
          <p class="text-sm mb-8 ">{post.data.description}</p>
          <a
            class="self-center p-1 text-white min-w-32 bg-blue-800 text-center rounded-sm border border-transparent hover:bg-white hover:text-black hover:border-black"
            href={`/posts/${post.id}`}
            title={`${post.data.title}, by Joe Vaughan`}
          >
            Read now
          </a>
        </div>
      ))
    }
  </section>
</Layout>
